# Exclude system cache folders
packages/*
cache/*
cache_public/*
tmp/*
logs/*
plugins/*
plugins_public/*
node_modules/*
bower_components/*

# Exclude main config file
inc/header*

# Exclude OS X folder attributes
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

.*.swp

cs_fixer_tmp*
.php_cs.cache

# Exclude tests files
tests/

# Exclude IDE project folder
.idea